
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}
#icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#icons a{
    margin: 43px 0;
}

#icons img{
    width: 300px;
    
}

@media(max-width: 1000px){
    #icons img{
        width: 100px;
        
    }
}