
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(128, 134, 134);
    height: 100%;
    

}

#page{
    margin: 0 auto;
    background-color: rgb(117, 111, 111);
    height: 100vh;
    width: 70%;
    display: flex;
    box-shadow: black;
    box-shadow: -1px 3px 18px 14px rgba(0,0,0,0.75);
}

#page .content{
    margin: 50px auto 0;
    width: 80%;
    
}

/* .personals-info{
    
} */
.personals-info h1{
    font-size: 45px;
    color: white;
}

#imagens{
    display: flex;
    flex-direction: column;
    margin: 200px 0;
    justify-content: flex-start;
}

#photo{
   width: 400px;
   border: 3px solid black;
   border-radius: 12px;
}

#icons{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2px;
}

#icons a{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    transition: 500ms;

}

#icons a:hover{
    background-color: rgb(54, 52, 52);
}

#icons img{
    width: 50px;
    image-rendering: auto;
}

@media(max-width: 600px){
    .personals-info h1{
        font-size: 80px;
    }
}